[previewHeadline]
<div id="ptitel" ><b></b></div>
[/previewHeadline]
[previewBody]
<a name="name" id="headline2" ></a><div id="pbody" ></div>
<br/><br/>
[/previewBody]
[editor]
<div align="center"><form name="postmodify" action="" method="post"  enctype="multipart/form-data" >
<table align="center" border="1" cellpadding="0" cellspacing="0" summary="editor" width="100%" >
<tr >
<td></td>
</tr>
<tr>
<td>
<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
<td valign="top">
<script language="JavaScript1.5" type="text/javascript">
html = [html/];
var maxLength =[maxlength/];
function checkLength() {
var message = document.getElementById("txt");
var m = message.value;
if(m.length >= maxLength){
message.value =  m.substring(0,maxLength);
document.getElementById("msglength").value=0;
document.getElementById("msglength").style.color= "red";
}else{
var no = (maxLength - m.length);
document.getElementById("msglength").value = no ;
document.getElementById("msglength").style.color= "green";
}
}
printButtons();
if(html) document.getElementById('htmlButton').checked = true;
</script>
</td>
</tr>
<tr>
<td align="left"><a name="winedit">[tr=caption/]</a>&#160;<input name="headline" id="title" maxlength="50" value="[headline/]"  align="middle" size="50" type="text"/>[catlist/]
</td>
</tr>
<tr>
<td align="center"><textarea rows="10" cols="50" class="editForm" name="message" id="txt" onclick="checkLength()" onkeypress="checkLength()" onkeyup="checkLength()" style="width:100%;" onkeydown="checkLength()" onchange="checkLength()">[body/]</textarea>
<script language="JavaScript1.5" type="text/javascript">
blogThis();</script>
</td>
</tr>
[attach/]
<tr>
<td align="center">
<input  name="action" value="[action/]" style="display:none;"/>
<input  name="thread" value="[thread/]" style="display:none;"/>
<input  name="reply" value="[reply/]" style="display:none;"/>
<input value="[maxlength/]" id="msglength" style="width:33px; font-size:14px;color:green;background-color:#E6DADE;" disabled="disabled"/>[tr=chars/]&#160;<br/>
<table  align="center" summary="layout"  cellspacing="0" border="0" cellpadding="0">
<tr>
<td align="center">
<input type="submit" name="submit" align="middle" alt="preview" value="[tr=preview/]" title="[tr=preview/]"/>
</td>
<td><input type="submit" style="cursor:pointer;" align="middle" value="[tr=save/]" title="[tr=save/]" onclick="return confirm('[tr=realy/] [tr=save/] ?');" /></td>
</tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
</table>
</form></div>
[/editor]